server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: https://loki.sebastienbarbier.com/loki/api/v1/push
    basic_auth:
      username: edwin
      password: TO_REPLACE_BY_REAL_PASSWORD
scrape_configs:
- job_name: app_seven23
  pipeline_stages:
  - replace:
      expression: '(?:[0-9]{1,3}\.){3}([0-9]{1,3})'
      replace: '***'
  static_configs:
  - targets:
      - localhost
    labels:
      job: app_seven23
      host: config_proxy
      agent: promtail
      __path__: /var/log/nginx/app_seven23.filtered.log
- job_name: blog_seven23
  pipeline_stages:
  - replace:
      expression: '(?:[0-9]{1,3}\.){3}([0-9]{1,3})'
      replace: '***'
  static_configs:
  - targets:
      - localhost
    labels:
      job: blog_seven23
      host: config_proxy
      agent: promtail
      __path__: /var/log/nginx/blog_seven23.filtered.log
- job_name: seven23
  pipeline_stages:
  - replace:
      expression: '(?:[0-9]{1,3}\.){3}([0-9]{1,3})'
      replace: '***'
  static_configs:
  - targets:
      - localhost
    labels:
      job: seven23
      host: config_proxy
      agent: promtail
      __path__: /var/log/nginx/seven23.filtered.log
- job_name: sebastienbarbier_fr
  pipeline_stages:
  - replace:
      expression: '(?:[0-9]{1,3}\.){3}([0-9]{1,3})'
      replace: '***'
  static_configs:
  - targets:
      - localhost
    labels:
      job: sebastienbarbier_fr
      host: config_proxy
      agent: promtail
      __path__: /var/log/nginx/sebastienbarbier_fr.filtered.log
- job_name: sebastienbarbier_com
  pipeline_stages:
  - replace:
      expression: '(?:[0-9]{1,3}\.){3}([0-9]{1,3})'
      replace: '***'
  static_configs:
  - targets:
      - localhost
    labels:
      job: sebastienbarbier_com
      host: config_proxy
      agent: promtail
      __path__: /var/log/nginx/sebastienbarbier_com.filtered.log
- job_name: whereis_sebastienbarbier
  pipeline_stages:
  - replace:
      expression: '(?:[0-9]{1,3}\.){3}([0-9]{1,3})'
      replace: '***'
  static_configs:
  - targets:
      - localhost
    labels:
      job: whereis_sebastienbarbier
      host: config_proxy
      agent: promtail
      __path__: /var/log/nginx/whereis_sebastienbarbier.filtered.log